version: "3.9"

services:
  mysql:
    image: mysql:8.4
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: student_performance
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    build: ./backend
    environment:
      DB_URL: jdbc:mysql://mysql:3306/student_performance?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
      DB_USERNAME: root
      DB_PASSWORD: root
      JWT_SECRET: change-this-secret-key-change-this-secret-key
      FLASK_PREDICTION_ENABLED: "false"
      FLASK_PREDICTION_URL: http://ml-service:5000/predict
    ports:
      - "8080:8080"
    depends_on:
      - mysql

  frontend:
    build: ./frontend
    ports:
      - "5173:80"
    depends_on:
      - backend

  ml-service:
    build:
      context: ./ml-service
      dockerfile: Dockerfile
    ports:
      - "5000:5000"

volumes:
  mysql_data:
